.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}
.img_prop {
    width: 100%;
    height: calc((100vw /3) - 24px - 1.5px);
    object-fit: cover;
}

.title_wrapper {
    display: flex;
    justify-content: space-between;
}

.fav_card {
    position: absolute;
}
.fav_heart {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
}


@media (max-width: 767.98px) {
    .img_prop {
        height: calc(100vw - 25.5px);
    }
}